<a href="https://colab.research.google.com/github/samsudhan5556/sales-data-set/blob/main/sales_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
file_path="/content/drive/MyDrive/sales_data_sample.csv"

In [1]:
import numpy as np
import pandas as pd

In [8]:
try:
    data=pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    try:
        data=pd.read_csv(file_path, encoding='latin1')
    except UnicodeDecodeError:
        data=pd.read_csv(file_path, encoding='cp1252')

In [9]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [10]:
import pandas as pd

# -----------------------------
# Create Sales Dataset
# -----------------------------
data = {
    "Order_ID": [1001, 1002, 1003, 1004, 1005],
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Printer"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Electronics"],
    "Quantity": [2, 5, 3, 1, 4],
    "Price": [50000, 500, 1500, 12000, 8000]
}

sales_df = pd.DataFrame(data)

# Add Total Sales column
sales_df["Total_Sales"] = sales_df["Quantity"] * sales_df["Price"]

# -----------------------------
# Analysis
# -----------------------------
total_revenue = sales_df["Total_Sales"].sum()
category_sales = sales_df.groupby("Category")["Total_Sales"].sum()
best_product = sales_df.loc[sales_df["Quantity"].idxmax()]

# -----------------------------
# Output
# -----------------------------
print("SALES DATASET\n")
print(sales_df)

print("\nTotal Revenue:", total_revenue)

print("\nSales by Category:\n")
print(category_sales)

print("\nBest Selling Product (by Quantity):\n")
print(best_product)

# -----------------------------
# Save to CSV
# -----------------------------
sales_df.to_csv("sales_data.csv", index=False)

SALES DATASET

   Order_ID   Product     Category  Quantity  Price  Total_Sales
0      1001    Laptop  Electronics         2  50000       100000
1      1002     Mouse  Accessories         5    500         2500
2      1003  Keyboard  Accessories         3   1500         4500
3      1004   Monitor  Electronics         1  12000        12000
4      1005   Printer  Electronics         4   8000        32000

Total Revenue: 151000

Sales by Category:

Category
Accessories      7000
Electronics    144000
Name: Total_Sales, dtype: int64

Best Selling Product (by Quantity):

Order_ID              1002
Product              Mouse
Category       Accessories
Quantity                 5
Price                  500
Total_Sales           2500
Name: 1, dtype: object

Let's list the contents of your Google Drive to ensure the file exists and to verify its exact path. Please look for `sales_data.csv` in the output.